{% assign showDonation = showDonation | default: false %}
{% assign showTriviaApp = showTriviaApp | default: false %}
{% assign showMysteryApp = showMysteryApp | default: false %}
{% assign showKeyboardModal = showKeyboardModal | default: false %}
{% assign showInstantApp = showInstantApp | default: false %}
{% assign showProcrastinot = showProcrastinot | default: false %}
{% assign showCannon = showCannon | default: false %}
{% assign showMiddleBadge = showMiddleBadge | default: false %}


<header class="navbar brand-color-background">

    <div class="navbar-start">
       

    </div>

    <div class="navbar-center">






        

    </div>

    <div class="navbar-end">



      


      

        <button
            class="btn btn-secondary ml-2" 
            onclick="my_modal_3.showModal()"
            title="Sign the Petition" 
            aria-label="Sign the Petition" 
      
            role="menuitem">
            Sign the Petition
    </button>


    </div>
</header>